html {
  font-family: serif;
}

header {
  text-align: left;
}

.sans-serif {
  font-family: bureau-grot, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  float: right;
}

.nav a {
  font-family: sans-serif;
  padding: .375em .75em .42em;
  text-decoration: none;
  text-transform: none;
}

.nav a:hover {
  background-color: black;
  color: white;
}

.sans-bold {
  font-family: bureau-grot, sans-serif;
  font-style: normal;
}

.serif {
  font-family: adonis-web, serif;
  font-style: normal;
}
