
html {
  font-family: serif;
}

header {
  background-color: #70dde4;
  text-align: left;
}

h1 {
  font-family: sans-serif;
  padding: 1rem;
  padding-bottom: 0;

}

a {
  text-decoration: none;

}

a:hover {
  background-color:   color: #70dde4;;
  color: #black;
}
